<img src="../../assets/Royal-Vintage-Banner.jpg" id="top" alt="Royal Vintage Car Museum Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container museum-content" id="aboutLocation">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>This is the royal collection of cars - 32 impressive vehicles, from a 1907 car made by the New Engine Company Acton and a 1935 vintage Mercedes saloon to racing cars raced by the present Maharaja of Gondal. Most are still in working condition. The Delage D8, Daimler, and the grand 1935 Mercedes seven-seat saloon are examples of great European cars of the 1920s and '30s.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Brief History</h5>
    <p>The car collection was owned by Maharaja Bhagwat Sinhji who ruled the region in early 19th century.</p>
    <img src="../../assets/Royal-Vintage-(3).jpg" class="my-5" alt="Car Image 1" style="width: 100%;">
    <img src="../../assets/Royal-Vintage-(2).jpg" class="my-5" alt="Car Image 2" style="width: 100%;">
    <img src="../../assets/Royal-Vintage-(1).jpg" class="my-5" alt="Car Image 3" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">Gondal is about 40 km from Rajkot. Gondal is 60km from Junagadh making it a convenient base to visit this historic city by bus.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Train</h6>
            <p class="text-muted">Gondal is about 42km from Rajkot railway station.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Air</h6>
            <p class="text-muted">Gondal is about 41km from Rajkot Airport.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="2.2em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="2.2em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toTop()" class="my-2 icon"><img src="../../assets/up-arrow.png" alt="" class="iconImg"></li>
</ul>