<img src="../../assets/Baroda-Museum-And-Picture-Gallery-Banner.jpg" id="top" alt="Baroda Museum Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container museum-content" id="aboutLocation">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Sayaji Baug, also known as Kamati Baug is situated on the river Vishwamitri. It was built by Sayaji Rao III in 1879 A.D. and covers an extensive area of 113 acres. The museum is considered to be one of the most famous museums of the country. It was constructed in 1894 and was designed by the famous architect R. F. Chisholm. The Picture Gallery building was added in 1910 and it houses excellent collection of originals by famous British Painters Turner and constable and many others.</p>
    <p>The Egyptian mummy and a skeleton of a blue Whale are major attractions for those who visit the museum. Other treasures include the famous Akota bronzes dating the 5th century A.D., a collection of Mughul miniatures, a fully-fledged gallery of Tibetan Arts etc. The museum houses a rich collection of art, sculpture, ethnography & ethnology. Several of the paintings are not only original but masterpieces at the picture gallery. It also houses a skeleton of a Blue Whale and Egyptian Mummy.</p>
    <img src="../../assets/Vadodara-cover.jpg" class="my-5" alt="Baroda Museum Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">NH8 passes through Baroda, making it well connected by road as well.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Train</h6>
            <p class="text-muted">The city lies on the busy Mumbai-Delhi Western Railway Mainline and is well connected by premium trains like Shatabdi and Rajdhani.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Air</h6>
            <p class="text-muted">Domestic flights connect Vadodara (BDQ) to major cities in India.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container museum-content-lower" id="nearbyDestinations">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/jambughoda-wildlife-sanctuary" class="darken">
                <img src="../../assets/jambughoda-wildlife-sanc.jpg" alt="Jambughoda Wildlife Sanctuary" style="height: 300px; width: 300px;">
                <h5>Jambughoda Wildlife Sanctuary</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/sayaji-baug" class="darken">
                <img src="../../assets/sayaji-baug-thumbnail.jpg" alt="Sayaji Baug" style="height: 300px; width: 300px;">
                <h5>Sayaji Baug</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/kirti-mandir" class="darken">
                <img src="../../assets/kirti-mandir-thumbnail.jpg" alt="Kirti Mandir" style="height: 300px; width: 300px;">
                <h5>Kirti Mandir</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="2.2em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="2.2em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toNearby()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg></li>
    <li (click)="toTop()" class="my-2 icon"><img src="../../assets/up-arrow.png" alt="" class="iconImg"></li>
</ul>