<img src="../../assets/Don-Hill-Station-Banner.jpg" id="top" alt="Don Hill Station Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container flora-content" id="aboutLocation">
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">About The Location</h5>
    <p>Take a deep breath. Disappear. You have entered nature's womb.</p>
    <p>In winter, at the spill of dawn, trek up to the Gandhi Shikhar as the river of light bathes the streams over undulating mountains and the drifting birds, into a magical dance of awakening.</p>
    <p>In rains, breathe in the rolling hills of Saputara, echoing green hues, lush with flowers, and watch the meditating rain drops sitting still on sloping leaves. Some of the thickest forest covers in the state envelops you.</p>
    <p>In summer, walk carefree on the expanse of the Governor’s hill and see the sun dip into the Saputara lake as the sky begins to shimmer with stars.</p>
    <p>As your bus chugs uphill, crisscrossing over the Ambika river, you leave all the congestion of towns and cities far below you and enter the high-spirited world of tribal people. Nestled in the Sahyadri range, at an altitude of about 1000 m, this Dangi enclave derives its name from the Snake God revered by the tribals and translates as 'the abode of serpents', Saputara.</p>
    <p>In spite of being the only hill station of Gujarat, it is minimally commercialized, still unspoiled.</p>
    <h5 class="my-3" style="font-family: 'Roboto Slab', serif;">Involved Tourism</h5>
    <p>Learn about the rich tribal culture of this region. Visit the Ritambhara Vishva Vidyapeeth and learn about the work of its founder, the highly respected Mrs. Poornima Pakvasa who has worked tirelessly for the empowerment of tribal women for more than five decades. Today, well-known as the 'Didi of Dang', she is more than 90 years old. Also other legendary social activists like Ghelubhai Naik and Chhotubhai Naik have started many programs for the inhabitants of the Dangs at their Ashram at Ahwa.</p>
    <img src="../../assets/Don-Hill-Station-image.jpg" class="my-5" alt="Don Hill Station Image" style="width: 100%;">
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container get-there" id="getThere">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">How to Get There?</h4>
    <br><br>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-road.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Road</h6>
            <p class="text-muted">The town of Waghai is 51 km away. Ahmedabad: 409 km. Surat: 164 km. Mumbai: 250 km. Vadodara: 309 km. There are State Transport buses and private luxury coaches from Waghai and Ahmedabad. If you are coming by a private car, then National Highway might be quicker, but the state highway will offer a stunningly scenic drive.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 8%;">
        <img src="../../assets/by-train.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Train</h6>
            <p class="text-muted">The nearest railway station is Waghai, on the Billimora-Waghai narrow gauge section of the Western Railway. For those coming from Gujarat via Surat or Ahmedabad or even from Mumbai, Billimora is the more convenient rail head, and a direct bus service is available from there.</p>
        </span>
    </div>
    <div style="display: flex; margin-bottom: 5%;">
        <img src="../../assets/by-air.png" alt="" class="direction-imgs">
        <span class="transport-bus">
            <h6>By Air</h6>
            <p class="text-muted">The nearest airport is in Surat, 120 km away.</p>
        </span>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container flora-content-lower" id="nearbyDestinations">
    <h3 style="font-family: 'Roboto Slab', serif; margin-top: 3%; margin-bottom: 5%;">Nearby Attractions</h3>
    <div class="row">
        <div class="col-4 destination-container-image">
            <a routerLink="/purna-wildlife" class="darken">
                <img src="../../assets/Purna-Wildlife.jpg" alt="Purna Wildlife" style="height: 300px; width: 300px;">
                <h5>Purna Wildlife Sanctuary</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/tithal-beach" class="darken">
                <img src="../../assets/Tithal-Beach-thumbnail.jpg" alt="Tithal Beach" style="height: 300px; width: 300px;">
                <h5>Tithal Beach</h5>
            </a>
        </div>
        <div class="col-4 destination-container-image">
            <a routerLink="/padam-dungri-ecotourism" class="darken">
                <img src="../../assets/padam-dungri.jpg" alt="Padam Dungri Eco tourism" style="height: 300px; width: 300px;">
                <h5>Padam Dungri Eco tourism</h5>
            </a>
        </div>
    </div>
    <br><br>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="2.2em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg></li>
    <li (click)="toGetThere()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="2.2em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm306.7 69.1L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg></li>
    <li (click)="toNearby()" class="my-2 icon"><svg xmlns="http://www.w3.org/2000/svg" height="2.2em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z"/></svg></li>
    <li (click)="toTop()" class="my-2 icon"><img src="../../assets/up-arrow.png" alt="" class="iconImg"></li>
</ul>