<img src="../../assets/Ambaji-Temple-Banner.jpg" id="top" alt="Religious Sites Banner" style="width: 100%; height: 700px; margin-bottom: 3%;">
<div class="container religious-content" id="about">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Religious Sites</h4>
    <p>The whole state of Gujarat is highly opulent with godly places of pilgrimage and holy temples Ambaji, Somnath, Dwarka, Palitana, Girnar, and Dakor are the chief holy places of Gujarat. Out of 51 "Aady Shakti Pith" the foremost "Aady Shakti Pith" of Ambaji, out of the 12 jyotirlings, the foremost jyotirling of Somnath, out of the "Sat puri", the foremost "Dwarka Puri", one of the "char dham", "Dwarka dham", the world renown biggest hindu temple, "Palitana" as well as Dakor, Girnar, and other religious places are situated in the state of Gujarat.</p>
    <p>Gujarat Pavitra Yatradham Vikas Board was associated with Tourism Corporation of Gujarat Ltd initially for four years and became independent from the year 1999. The other temples apart from below list can also be viewed which are under the board.</p>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<div class="container religious-content" id="more">
    <h4 class="my-3" style="font-family: 'Roboto Slab', serif;">Religious Sites in and around Gujarat</h4>
    <div class="row">
        <div class="col-6 destination-container-image">
            <a routerLink="/somnathTemple" class="darken">
                <img src="../../assets/somnath.jpg" alt="Somnath Temple" style="height: 300px; width: 430px;">
                <h5 style="padding-bottom: 8%;">Shree Somnath Jyotirlinga Temple</h5>
                <p>Gir, Somnath</p>
            </a>
        </div>
        <div class="col-6 destination-container-image">
            <a routerLink="/koteshwar-mahadev-temple" class="darken">
                <img src="../../assets/koteswar-temple-thumbnail.png" alt="Koteshwar Mahadev Temple" style="height: 300px; width: 430px;">
                <h5 style="padding-bottom: 8%;">Koteshwar Mahadev Temple</h5>
                <p>Kutch</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-6 destination-container-image">
            <a routerLink="/narayan-sarovar" class="darken">
                <img src="../../assets/narayan-sarovar.jpg" alt="Narayan Sarovar" style="height: 300px; width: 430px;">
                <h5 style="padding-bottom: 8%;">Narayan Sarovar</h5>
                <p>Kutch</p>
            </a>
        </div>
        <div class="col-6 destination-container-image">
            <a routerLink="/taranga-caves" class="darken">
                <img src="../../assets/Taranga_Temple_thumbnail.jpg" alt="Taranga Jain Temple" style="height: 300px; width: 430px;">
                <h5 style="padding-bottom: 8%;">Taranga (Hill) Jain Temple</h5>
                <p>Mehsana</p>
            </a>
        </div>
    </div>
    <a routerLink="/"><button class="btn btn-outline-dark">Back</button></a>
</div>
<ul class="navigation cf">
    <li (click)="toAbout()" class="my-2 icon"><img src="../../assets/temple-icon.png" alt="" class="iconImg"></li>
    <li (click)="toMore()" class="my-2 icon"><img src="../../assets/directions.png" alt="" class="iconImg"></li>
    <li (click)="toTop()" class="my-2 icon"><img src="../../assets/up-arrow.png" alt="" class="iconImg"></li>
</ul>


