<div class="bg" id="home">
  <h1>Welcome To Gujarat</h1>
</div>
<app-map id="gujaratmap"></app-map>
<app-trails id="carouselContainer"></app-trails>
<app-destinations id="destinations"></app-destinations>
<app-festivals id="fairs"></app-festivals>
<ul class="navigation cf">
  <li title="Home" (click)="tohome()" class="my-2 icon"><img src="../../assets/home.png" alt="" class="iconImg"></li>
  <li title="Map" (click)="tomap()" class="my-2 icon"><img src="../../assets/mapicon.png" alt="" class="iconImg"></li>
  <li title="Trail" (click)="tocarousel()" class="my-2 icon"><img src="../../assets/pngwing.com.png" alt="" class="iconImg"></li>
  <li title="Discover" (click)="todest()" class="my-2 icon"><img src="../../assets/destination-icon.png" alt="" class="iconImg"></li>
  <li title="Festivals" (click)="tofair()" class="my-2 icon"><img src="../../assets/festival.png" alt="" class="iconImg"></li>
  <li title="Back" (click)="tohome()" class="my-2 icon"><img src="../../assets/up-arrow.png" alt="" class="iconImg"></li>
</ul>